<template>
  <v-card class="mx-auto relative" height="480px">
    <v-img
      elevation="15"
      src="https://lorem.cat/600x400/f1f1f1/ff8e30&text=Image not available"
      aspect-ratio="1"
      class="grey lighten-2"
      max-width="500"
      max-height="200"
    >
      <template v-slot:placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular
            indeterminate
            color="grey lighten-5"
          ></v-progress-circular>
        </v-row>
      </template>
    </v-img>

    <v-card-title>
      <h2 id="name" class="title primary--text truncate">
        {{ shipData.name }}
      </h2>
      <h2 id="model" class="title primary--text truncate">
        {{ shipData.model }}
      </h2>
    </v-card-title>

    <v-card-subtitle>
      <span id="credits" class="primary--text pb-0"> {{ credits }} </span>
    </v-card-subtitle>

    <v-card-title>
      <v-rating
        :value="Number(shipData.hyperdrive_rating)"
        id="rating"
        dense
        color="orange"
        background-color="orange"
        hover
        class="ma-0"
      >
      </v-rating>
    </v-card-title>

    <v-card-title class="d-flex">
      <v-icon>fas fa-film</v-icon>
      <div id="filmsCount" class="ml-1 mr-3">{{ filmsCount }}</div>
      <v-icon>fas fa-male</v-icon>
      <div id="pilotsCount" class="ml-1 mr-3">{{ pilotsCount }}</div>
    </v-card-title>

    <v-btn
      @click.native="addToCart()"
      id="addToCartBtn"
      width="50%"
      tile
      color="primary lighten-3"
      dark
    >
      Add
      <v-icon right>fas fa-cart-plus fa-xs</v-icon>
    </v-btn>
    <v-btn
      @click.native="buyNow()"
      id="buyNowBtn"
      width="50%"
      tile
      color="green lighten-2"
      dark
    >
      Buy Now
    </v-btn>
  </v-card>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'ShipRightBlock',
  props: {
    shipData: Object,
  },
  computed: {
    credits() {
      return this.shipData.cost_in_credits !== 'unknown'
        ? this.shipData.cost_in_credits / 1000 + 'k €'
        : 'Unknown €'
    },
    filmsCount() {
      return this.shipData.films.length
    },
    pilotsCount() {
      return this.shipData.pilots.length
    },
  },
  methods: {
    ...mapMutations('MShoppingCart', ['PUSH_ITEM']),
    addToCart() {
      const { name, cost_in_credits } = { ...this.shipData }

      this.PUSH_ITEM({ name, cost_in_credits })
    },
    buyNow() {
      this.addToCart()
      this.$router.push({ name: 'cart' })
    },
  },
}
</script>

<style lang="sass">
.truncate
  width: 250px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
</style>
