<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in shipData" :key="item.name">
                <td class="text-capitalize">
                  {{ item.key }}
                </td>
                <td class="text-justify">{{ item.value }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'ShipTable',
  props: {
    shipData: Array,
  },
}
</script>
