<template>
  <v-container v-if="isType && shipData" class="d-flex align-stretch">
    <v-tabs>
      <v-tab @change="fetchTab(i)" v-for="(item, i) in shipData" :key="i">
        <v-icon left>far fa-user</v-icon>
        {{ isType.slice(0, -1) }} {{ i }}
      </v-tab>
      <v-tab-item v-for="(item, i) in sectionData" :key="i">
        <v-card
          height="300px"
          v-if="loading"
          flat
          class="text-center d-flex align-center justify-center fill-height"
        >
          <v-progress-circular
            :indeterminate="true"
            :rotate="30"
            :size="120"
            :value="3"
            color="secondary"
          >
            LOADING
          </v-progress-circular>
        </v-card>

        <v-card v-else text>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Calories</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in sectionData" :key="item.name">
                    <td class="text-capitalize">
                      {{ item.key.replace(/_/gi, ' ') }}
                    </td>
                    <td v-if="!isArray(item.value)" class="text-justify">
                      {{ item.value }}
                    </td>
                    <td v-else>
                      <tr v-for="(subitem, i) in item.value" :key="subitem">
                        <td class="text-capitalize block">
                          {{ item.key.slice(0, -1) }} {{ i }}
                        </td>
                      </tr>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ShipDisplayData',
  props: {
    shipData: Array,
    isType: String,
  },
  data() {
    return {
      loading: true,
      sectionData: [],
    }
  },
  mounted() {
    this.fetchTab(0)
  },
  methods: {
    ...mapActions('MShips', ['getNested']),

    isArray(item) {
      return Array.isArray(item)
    },

    getResourceID(index) {
      return this.shipData[index].split('/')[5]
    },

    fetchTab(index) {
      this.loading = true
      const id = this.getResourceID(index)
      // Pilots have different url than the name/label
      const url = this.isType === 'films' ? this.isType : 'people'

      this.getNested({ url, id })
        .then(res => {
          this.sectionData = Object.keys(res).map(key => {
            return { key, value: res[key] }
          })
        })
        .catch(err => {
          this.$setSnackbar('Error fetching data')

          return err
        })
        .then(() => {
          this.loading = false
        })
    },
  },
}
</script>
