<template>
  <v-hover>
    <template v-slot:default="{ hover }">
      <v-card class="mx-auto" max-width="344" :elevation="hover ? 15 : 1">
        <v-img
          src="https://lorem.cat/600x400/f1f1f1/ff8e30&text=Image not available"
          aspect-ratio="1"
          class="grey lighten-2"
          max-width="500"
          max-height="300"
        >
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular
                indeterminate
                color="grey lighten-5"
              ></v-progress-circular>
            </v-row>
          </template>
        </v-img>

        <v-card-title>
          <h2 class="title primary--text truncate">
            {{ ship.name }}
          </h2>
        </v-card-title>

        <v-card-subtitle>
          <span class="primary--text pb-0"> {{ credits }} </span>
        </v-card-subtitle>

        <v-card-title>
          <v-rating
            :value="Number(ship.hyperdrive_rating)"
            dense
            color="orange"
            background-color="orange"
            hover
            class="ma-0"
          >
          </v-rating>
        </v-card-title>

        <v-card-title class="d-flex">
          <v-icon>fas fa-film</v-icon>
          <div class="ml-1 mr-3">{{ ship.films.length }}</div>
          <v-icon>fas fa-male</v-icon>
          <div class="ml-1 mr-3">{{ ship.pilots.length }}</div>
        </v-card-title>

        <v-fade-transition>
          <v-overlay
            v-if="hover"
            absolute
            color="#fff"
            opacity="0.8"
            z-index="1"
          >
            <v-btn
              outlined
              color="secondary"
              link
              :to="{ name: 'ship', params: { id } }"
            >
              See more info
              <v-icon right dark>fas fa-angle-right</v-icon>
            </v-btn>

            <v-btn
              elevation="15"
              @click="buyNow"
              color="primary"
              block
              class="mt-4"
            >
              Buy now!
              <v-icon right dark>fas fa-shopping-cart</v-icon>
            </v-btn>
          </v-overlay>
        </v-fade-transition>
      </v-card>
    </template>
  </v-hover>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'ShipCard',
  props: {
    ship: Object,
  },
  computed: {
    credits() {
      return this.ship.cost_in_credits !== 'unknown'
        ? this.ship.cost_in_credits / 1000 + 'k €'
        : 'Unknown €'
    },
    id() {
      return this.ship.url.split('/', 6).pop()
    },
  },
  methods: {
    ...mapMutations('MShoppingCart', ['PUSH_ITEM']),

    buyNow() {
      const ship = {
        name: this.ship.name,
        cost_in_credits: this.ship.cost_in_credits / 1000,
      }

      // ADD this to Shopping Card
      this.PUSH_ITEM(ship)
    },
  },
}
</script>
