<template>
  <v-container fluid fill-height>
    <v-layout text-center wrap>
      <v-row class="imgSection">
        <v-col>
          <v-overlay :absolute="false" :value="true" :z-index="3">
            <h1 class="my-10 text-left pa-10">
              Wondering about us?
            </h1>

            <p>
              <a
                href="http://www.sddbrandcare.com/"
                class="subheading mx-3 text-uppercase pa-3 black"
                target="_blank"
              >
                <i class="fas fa-link"></i>
                more at SDD Brand
                <i class="fas fa-link"></i>
              </a>
            </p>
          </v-overlay>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>
<style lang="sass" scoped>
.imgSection
  position: relative
  background: url('../assets/img/this_is_us.jpg')
  background-size: cover
  color: #FFF
  height: 100%
  display: block

  & h1
    border: 1px solid #FFF
    font-size: 60px
    font-weight: lighter
</style>
