<template>
  <v-container fluid class="homeContainer">
    <v-layout text-center wrap>
      <v-flex xs12>
        <h1 class="logo-text white--text hidden-sm-and-down">
          Starship
        </h1>
        <p class="grey--text">by SDD BRANDCARE</p>
      </v-flex>
      <v-flex xs12>
        <router-link :to="{ name: 'ships' }" tag="a">
          <v-img
            :src="require('@/assets/img/millenium-falcon.svg')"
            transition="scale-transition"
            class="my-3 milleniumFalconLogo d-inline-block"
            contain
            height="400"
          ></v-img>
        </router-link>
      </v-flex>

      <v-flex mb-5>
        <h1 class="font-weight-bold mb-3 text--white">
          <router-link :to="{ name: 'ships' }" exact class="mr-2" tag="a">
            Enter
          </router-link>
        </h1>
      </v-flex>

      <v-flex mb-5 xs12 class="align-end">
        <v-layout justify-center align-end>
          <span class="grey--text mr-2">by</span>
          <a href="https://gitlab.com/Despertaweb" class="white--text">
            Lou Rectoret
          </a>
          <a
            href="http://www.sddbrandcare.com/"
            class="subheading mx-3"
            target="_blank"
          >
            (FE at SDD Brand :P )
          </a>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'VHome',
}
</script>

<style scoped lang="sass">
.homeContainer
  display: flex
  background: #000 url('http://cssanimation.rocks/demo/starwars/images/bg.jpg')
  height: 100%

.logo-text
  margin-top: 100px
a
    font-style: none
    text-decoration: none
    color: grey!important

.milleniumFalconLogo
  fill: red
</style>
