<template>
  <v-container class="grey lighten-5">
    <section v-if="!loading.isLoading">
      <v-row>
        <v-col
          v-for="ship in ships"
          :key="ship.name"
          cols="12"
          sm="4"
          lg="3"
          xl="2"
        >
          <ShipCard :ship="ship" />
        </v-col>
      </v-row>
      <v-pagination
        v-model="page"
        :length="pagesCount"
        :total-visible="5"
        @input="fetchData"
        circle
      ></v-pagination>
    </section>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ShipCard from '@/components/ships/ShipCard'

export default {
  name: 'VShips',
  data() {
    return {
      ships: [],
      page: 1,
      length: 10,
      shipsCount: 0,
    }
  },
  mounted() {
    this.fetchData()
  },
  computed: {
    ...mapState('MUI', ['loading']),

    pagesCount() {
      // The Server sends 10 items max per page
      return Math.ceil(this.shipsCount / 10)
    },
  },
  methods: {
    ...mapActions('MShips', { fetchPage: 'getPage' }),

    fetchData() {
      // Call Mixin for high order LOADING component
      this.$setLoading('Fetching Spaceships...')

      this.fetchPage({ page: this.page })
        .then(res => {
          this.ships = res.data.results
          this.shipsCount = res.data.count

          return res
        })
        .catch(err => {
          this.$setSnackbar('Error fetching data')

          return err
        })
        .then(() => {
          // Reset Loading
          this.$unsetLoading()
        })
    },
  },
  components: {
    ShipCard,
  },
}
</script>
