<template>
  <v-container class="d-flex align-stretch">
    <v-row v-if="!loading.isLoading">
      <!-- LEFT BLOCK -->
      <v-col
        class="offset-sm-1 col-sm-7 offset-lg-2 col-lg-5 offset-xl-3 col-xl-4"
      >
        <v-card>
          <v-tabs background-color="white" color="deep-purple red-4" right>
            <v-tab>Specs</v-tab>
            <v-tab v-for="tab in tabs" :key="tab.label">
              {{ tab.label }}
            </v-tab>

            <v-tab-item>
              <ShipTable :shipData="dataTable" />
            </v-tab-item>
            <v-tab-item v-for="tab in tabs" :key="tab.label">
              <ShipDisplay
                :shipData="tab.value"
                :isType="tab.label.toLowerCase()"
              />
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-col>
      <!-- RIGHT BLOCK -->
      <v-col class="col-sm-3 col-lg-3 col-xl-2">
        <ShipRightBlock
          v-if="ship && ship.films && ship.pilots"
          :shipData="ship"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ShipRightBlock from '@/components/ship/ShipRightBlock'
import ShipTable from '@/components/ship/ShipTable'
import ShipDisplay from '@/components/ship/ShipDisplay'

export default {
  name: 'VShip',
  props: {
    id: String,
  },
  data() {
    return {
      ship: {},
      dataTable: [],
      extractedData: [],
      tabs: [],
    }
  },
  mounted() {
    // Call Mixin for high order LOADING component
    this.$setLoading('Fetching The Spaceship...')

    this.getShip(this.id)
      .then(res => {
        this.ship = res.data

        this.init()
        return res
      })
      .catch(err => {
        this.$setSnackbar('Error fetching data')

        return err
      })
      .then(() => {
        // Reset Loading
        this.$unsetLoading()
      })
  },
  computed: {
    ...mapState('MUI', ['loading']),
  },
  methods: {
    ...mapActions('MShips', ['getShip']),

    init() {
      const SHIP = this.ship

      const FIELDS_TO_REMOVE = ['url', 'created', 'edited']
      const FIELDS_TO_EXTRACT = [
        'name',
        'model',
        'cost_in_credits',
        'hyperdrive_rating',
        'pilots',
        'films',
      ]

      // Clean up Data to Display
      Object.keys(SHIP).forEach(key => {
        if (FIELDS_TO_REMOVE.includes(key)) {
          delete SHIP[key]
          return
        }

        if (!FIELDS_TO_EXTRACT.includes(key)) {
          const obj = { key: key.replace(/_/gi, ' '), value: SHIP[key] }
          this.dataTable.push(obj)
        }
      })

      if (this.ship.films.length > 0)
        this.tabs.push({ label: 'Films', value: this.ship.films })
      if (this.ship.pilots.length > 0)
        this.tabs.push({ label: 'Pilots', value: this.ship.pilots })
    },
  },
  components: {
    ShipRightBlock,
    ShipTable,
    ShipDisplay,
  },
}
</script>
