<template>
  <v-content>
    <v-container class="fill-height" fluid>
      <v-card class="mx-auto" outlined min-width="500">
        <v-card-title class="title accent justify-center">
          {{ total > 0 ? 'Spaceship Cart' : 'Cart Empty' }}
        </v-card-title>
        <v-simple-table v-if="total > 0">
          <template v-slot:default>
            <thead>
              <tr>
                <th></th>
                <th
                  v-for="key in keys"
                  :key="key"
                  class="text-left text-capitalize"
                >
                  {{ key }}
                </th>
                <th class="text-center">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items" :key="item.name">
                <td>
                  <v-btn @click="action('PUSH', item)" text>
                    <v-icon x-small dense>fas fa-plus</v-icon>
                  </v-btn>
                  <v-btn @click="action('REST', item)" text>
                    <v-icon x-small dense>fas fa-minus</v-icon>
                  </v-btn>
                </td>
                <td>{{ item.name }}</td>
                <td class="text-right">{{ item.cost_in_credits }}k €</td>
                <td class="text-center">
                  {{ item.count }}
                </td>

                <td class="text-right">
                  {{ item.count * item.cost_in_credits }}k €
                </td>
                <td>
                  <v-btn @click="action('DELETE', item)" text>
                    <v-icon small dense color="red">fa fa-trash</v-icon>
                  </v-btn>
                </td>
              </tr>
              <tr>
                <td colspan="4" class="text-right font-weight-bold">
                  TOTAL:
                </td>
                <td class="font-weight-bold subtitle-1 text--secondary">
                  {{ total + 'k €' }}
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-img
          v-else
          src="@/assets/img/empty_cart.jpg"
          class="white--text align-end"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.2)"
        >
        </v-img>

        <v-card-actions>
          <v-btn
            @click="$router.go(-1)"
            tag="a"
            class="title ma-2"
            color="accent"
            text
          >
            <v-icon left>fa fa-arrow-left</v-icon>
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </v-content>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
  name: 'VShoppingCart',
  computed: {
    ...mapState('MShoppingCart', ['items']),

    keys() {
      return Object.keys(this.items[0]).map(key => {
        return key.replace(/_/gi, ' ')
      })
    },

    total() {
      return this.items.reduce((total, item) => {
        return total + item.cost_in_credits * item.count || 0
      }, 0)
    },
  },
  methods: {
    ...mapMutations('MShoppingCart', ['PUSH_ITEM', 'REST_ITEM', 'DELETE_ITEM']),

    action(action, item) {
      this[action + '_ITEM'](item)
    },
  },
}
</script>
<style lang="sass" scoped>
.v-card__title
  color: white
</style>
