<template>
  <v-overlay
    id="loadingWrapper"
    :value="loading.isLoading"
    color="grey lighten-5"
  >
    <v-alert
      color="primary"
      outlined
      :value="true"
      transition="fade-transition"
    >
      <v-sheet color="grey lighten-4">
        <h2 class="title d-flex justify-center grey--text">Loading</h2>
        <v-img
          :src="require('@/assets/img/millenium-falcon-dark.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
        <div class="d-flex justify-center subtitle-1 grey--text">
          {{ loading.msg }}
        </div>
      </v-sheet>
    </v-alert>
  </v-overlay>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'BLoading',
  computed: {
    ...mapState('MUI', ['loading']),
  },
}
</script>
