<template>
  <v-snackbar v-model="snackbar.show" :color="snackbar.color">
    <span id="snackbar">
      {{ snackbar.text }}
    </span>
  </v-snackbar>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'BSnackbar',
  computed: {
    ...mapState('MUI', ['snackbar']),
  },
}
</script>
