<template>
  <v-app>
    <v-app-bar v-if="isAtHome" app color="white" class="elevation-0">
      <div class="d-flex align-center">
        <v-img
          alt="Starship Logo"
          class="shrink mr-2"
          contain
          src="@/assets/img/logo.png"
          transition="scale-transition"
          width="40"
        />
        <h1 class="logo-text hidden-sm-and-down">
          Starship
        </h1>
      </div>

      <v-spacer></v-spacer>

      <router-link
        :to="{ name: 'home' }"
        exact
        active-class="font-weight-bold"
        class="mr-2"
        tag="a"
      >
        Home
      </router-link>
      <router-link
        :to="{ name: 'ships' }"
        active-class="font-weight-bold"
        class="mr-2"
        tag="a"
      >
        Ships
      </router-link>
      <router-link
        :to="{ name: 'about' }"
        active-class="font-weight-bold"
        class="mr-2"
        tag="a"
      >
        About us
      </router-link>

      <v-btn
        icon
        tile
        class="elevation-0 pr-3"
        :to="{ name: 'cart' }"
        color="white"
        :disabled="itemsCount === 0"
      >
        <v-badge
          :content="itemsCount"
          :value="itemsCount"
          color="green"
          overlap
        >
          <v-icon left :color="itemsCount ? 'green' : 'primary'">
            {{ itemsCount ? 'fas fa-cart-arrow-down' : 'fas fa-shopping-cart' }}
          </v-icon>
        </v-badge>
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>

    <Loading />
    <Snackbar />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

import Loading from '@/components/base/BLoading'
import Snackbar from '@/components/base/BSnackbar'

export default {
  name: 'App',
  data() {
    return {}
  },
  computed: {
    ...mapGetters('MShoppingCart', ['itemsCount']),

    isAtHome() {
      return this.$route.name !== 'home'
    },
  },
  components: {
    Loading,
    Snackbar,
  },
}
</script>

<style lang="sass">
@import './styles/main.sass'
.logo-text
    font-family: "Star Jedi Outline"
    -webkit-text-stroke: yellow 0.1px
    font-size: 2.5em
    font-weight: lighter
    color: #f45d22 !important
</style>
